.sobreEmpresa {
    padding: 1.5em;
    

}

#bloco {
    display: flex;
    width: 100%;
    max-width: 800px;
    color: white;
    background-color: tomato;
    margin-top: 2em;
    padding-top: 1em;
    border-bottom-left-radius: 1.5em;
}

#bloco h1 {
    color: white;

}

#bloco p {
    margin: 0.5em;
    text-align: justify;
}

/*  */

#bloco2 {
    width: 100%;
    max-width: 800px;
    color: white;
    background-color: tomato;
    margin-top: 2em;
    padding-bottom: 0.5em;
}

#bloco2 p {
    margin: 0.5em;
    text-align: justify;
}

#bloco2 h1 {
    padding-top: 0.5em;
    color: white;

}